/* Стили для body */
body {
    display: grid; /* Используем сетку для центрирования */
    place-items: center; /* Центрирование по горизонтали и вертикали */
    margin: 0;
    padding: 0;
    height: 100vh; /* Высота страницы */
    color: dark;
    font-family: "Playwrite ES Deco", cursive;
    background: #2d2f30 url("./bg.png") no-repeat center center / cover;
}

/* Контейнер */
.container {
    display: grid;
    justify-items: center; /* Центрирование содержимого по горизонтали */
    align-items: center; /* Центрирование содержимого по вертикали */
    text-align: center;
    gap: 20px; /* Расстояние между элементами */
}

/* Стили для фото */
#photo {
    display: block;
    margin: 0 auto; /* Центрирование фото */
    height: auto;
    max-width: 500px;
    width: 99%;
    position: relative;
    animation-name: imgAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes imgAnimation {
    from {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.05);
    }
    to {
        transform: scale(1.0);
    }
}

@media screen and (max-width: 900px) {
    #imgBanana {
        max-width: 250px;
        width: 90%;
    }
}

/* Вопрос */
#question {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

/* Кнопка "Да" */
#yes {
    margin-right: 20px;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    padding: 10px;
    border: 1px solid dark;
    background: lightgreen;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    font-family: "Playwrite ES Deco", cursive;
    cursor: pointer;
}
#yes:active {
    filter: brightness(90%);
}

/* Кнопка "Нет" */
#no {
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    padding: 10px;
    border: 1px solid dark;
    background: lightgreen;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    font-family: "Playwrite ES Deco", cursive;
    cursor: pointer;
    margin-top: 10px; /* Чтобы было место между кнопками */
}
#no:active {
    filter: brightness(90%);
}

/* Текст после "Да" */
#yesText {
    text-align: center;
    font-weight: 800;
    font-size: 25px;
    color: white;
}
